{% extends 'basic.html' %}

{% block title%} About {% endblock %}
{% block aboutactive %} active{% endblock aboutactive %}
{% block body %}

<div class="col-md-6 offset-md-3">

            <h1 class="bd-title" id="content">About</h1>
            <p class="bd-lead"> This Project is made for giving to let in bd</p>
           <h1>Team</h1>
            <h4>Backend:</h4>
            <br>
            <p> Nur Naher Soma </p>
            <p> <b>Roll: </b> 127</p>
            <p> <b>Batch: </b> 19th</p>
            <P>GitHub:<a href="https://github.com/soma127">soma127</a></P>
            <P>Email:<a href="">nurnahersoma3@gmail.com</a></P>
            <hr>
            <p> Samiun Akter Swarna </p>
            <p> <b>Roll: </b> 148</p>
            <p> <b>Batch: </b> 19th</p>
            <h1>Technology :</h1>
            <h4>Backend:</h4> <P>Python Django-Framework, Django-Rest-Framework.</P>
            <h4>Frontend:</h4><p> HTML5, CSS, Javascript, Bootstrap4.</P>
            <h2>Contact :</h2>
            <p>Phone:+8800000000000</P>
            You can also Contact with admin by clicking <a href="{% url 'contact' %}">Here</a>



            


</div>
{% endblock %}
{% block css %}
p{
text-align:justify;
line-height:25px;
{% comment %} text-shadow: 1px 2px blue; {% endcomment %}
text-indent:30px;
padding-left:30px;
text-transformation: capitalize;
}
p a{
    color:blue;
}
a:hover{
    border-bottom:2px solid red;
}
{% endblock  %}